.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.footer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./components/images/watermark.png");
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575cd;
  color: floralwhite;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.mainhead {
  margin-bottom: 40px;
}
.App-link {
  color: #61dafb;
}

.productsDiv {
  background-color: #f4f7f8;
  padding-top: 30px;
  padding-bottom: 100px;
}
.btnn {
  height: 45px;
  width: 200px;
  border-radius: 50px;
  margin-left: 60px;
  border: 1px solid rgb(207, 190, 190);
}
.cardText {
  font-size: smaller;
}
.cardButton {
  height: 45px;
  width: 100px;
  border-radius: 50px;
  margin-top: 20px;
  border: 1px solid rgb(207, 190, 190);
}
.login {
  height: 45px;
  width: 150px;
  border-radius: 50px;
  background-color: #61dafb;
  border: 1px solid rgb(207, 190, 190);
  margin-left: 100px;
}
.cart {
  height: 45px;
  width: 90px;
  border-radius: 50px;
  background-color: #fba661;

  border: 1px solid rgb(207, 190, 190);
}
.search {
  height: 45px;
  width: 350px;
  border-radius: 70px;
  border: 1px solid rgb(207, 190, 190);
  margin-left: 50px;
  padding: 0px 30px 0px 30px;
}

.mainNav {
  background-color: #1b1b2a;
}
.dropdown {
  background-color: #1b1b2a;
}
.topbtn {
  height: 70px;
  width: 200px;
  border-radius: 70px;
  margin: 5px;
  border: 1px solid rgb(207, 190, 190);
  background-color: white;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("/src/components/images/btnrice.png");
}
.hc1:hover {
  background-color: #3e8e41;
}
.hc2:hover {
  background-color: #58d2dd;
}
.hc3:hover {
  background-color: #dff04d;
}
.hc4:hover {
  background-color: #5b50c2;
}
.hc5:hover {
  background-color: #a13b6b;
}
.hc6:hover {
  background-color: #d3741c;
}
.fh {
  color: #11afa2;
  font-family: "Lucida Console";
  font-weight: bold;
}
.fl {
  font-size: small;
  font-weight: bold;
}
.product-btn {
  background-color: #41ada4;
  width: 100px;
  height: 40px;

  color: white;
  margin-left: 85px;
  border: 0px;
  border-radius: 5px;
}
.sub-product-btn {
  background-color: #41ada4;
  width: 80px;
  height: 30px;

  color: white;
  margin-left: 63px;
  border: 0px;
  border-radius: 5px;
}
.subCatButton {
  width: 250px;
  margin-left: -80px;
  height: 65px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #d1d4ce;
  border-radius: 20px;
  margin-bottom: 30px;
}

.hoverImages {
  height: 140px;
  width: 140px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hoverImages:hover {
  cursor: pointer;
  height: 155px;
  width: 155px;
}
.cart-modal {
  height: 700px;
}
.hoverImagesHome {
  margin-left: 25px;
  height: 200px;
  width: auto;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hoverImagesHome:hover {
  margin-left: 15px;

  cursor: pointer;
  height: 220px;
  width: auto;
}
